@(path:String)(implicit request: MessagesRequestHeader)

  @base_warning("Not found!") {
    <div class="center">
        <div class="center">
            @if(path.contains("@")){
                <br> <br> <br> <br>
                <img src="@routes.Assets.versioned("images/notfound.png")" style="alignment: center" width="800"> <br/> <br/> <br/>
                <h4>404. That’s an error. The requested URL was not found on this server, The page may be removed or unavailable. That’s all we know. </h4>
                <hr/>
                <a href="/home" class="button is-large" style="width: 100px"> Home </a>
            } else {
                <br> <br> <br> <br>
                <img src="@routes.Assets.versioned("images/notfound.png")" style="alignment: center" width="800"> <br/> <br/> <br/>
                <h4>404. That’s an error. The requested URL <b> /@path </b> was not found on this server, The page may be removed or unavailable. That’s all we know. </h4>
                <hr/>
                <a href="/" class="button is-large" style="width: 100px"> Home </a>
            }
            <br> <br> <br> <br> <br> <br>
        </div>
    </div>
}