body {
    background-color: lightgray;
    overflow:no-content;
    width: 100%;
    height: 100%;
}

.custom-absolute {
    position: absolute;
    right: 0px;
    width: 200px;
    height: 50px;
}

.back-absolute {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.center {
    margin: auto;
    width: 100%;
    padding: 0;
    text-align: center;
}

.test-bg {
    margin: auto;
    background-color: #0f81cc;
}

.hr.shadow{
    border:none;
    width: 90%;
    height: 50px;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
}

.img{
    border-radius: 50%;
}

.img .display48x48 {
    width:48px;
    height: 48px;
}

.resize{

}

.resize .display256x256 {
    width:256px;
    height: 256px;
}