@()

@base_main("Index") {
    <div class="columns is-desktop">
        <div class="column is-half is-offset-one-quarter" align="center">
            <div class="container-set-top-left">
                <a href="https://www.scala-lang.org/" target="_blank" class="button"> Scala </a> &emsp;
                <a href="https://bulma.io/" target="_blank" class="button"> Bulma </a>
            </div>

            <div class="container-set-top-right">
                <a href="/login" class="button"> Login </a> &emsp;
                <a href="/register" class="button"> Register </a> &emsp;
                <a href="/aboutme" class="button"> About Me</a>
            </div>
            <br>

            <img src="@routes.Assets.versioned("images/logo-jaylerr.png")" width="400">

            <br/> <br>
            <p> <b>Let's share your mind</b> </p>
            <p> Jaylerr Infinite is about people are share their memory. Everyone can share their mind, their memory
                and all about what they're thinking. Moreover people can share their opinion together as long
                as each other open their profile in public. We are open the world for what they are want to share their mind
                as long as it's legal</p> <br>

            <p> This is a simple web application base on Scala language. The web using HTML base on BULMA CSS framework
                for user interface, The process are all by scala only and connecting to Postgres SQL database using Slick API.
            </p>
        </div>
    </div>
}