@import java.sql.Timestamp
@(email:String, name:String, list: List[(String, Timestamp, String, String, String, String, String, String)], readUrl:Call)

  @base_active("What's new today?", name) {
    <div class="columns">

        <div class="column is-10">
            <div class="box"> <h3 class="subtitle">@list.size New story</h3> </div>
            @for(item <- list) {
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-190x190">
                                <img src="@routes.Assets.versioned("images/post".concat(item._7))" width="30">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>@item._5</strong>
                                    <br>
                                    @if(item._1.length > 400){
                                        @item._1.substring(0,400).concat(" . . .")
                                    } else {
                                        @item._1
                                    }
                                </p>
                            </div>

                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <a class="level-item">
                                            <img class="img" src="@routes.Assets.versioned("images/users" + item._6)" width="15">
                                        </a>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p><strong>@item._4</strong></p>
                                    <p><small>@item._2.toString.substring(0,16)</small></p>
                                    <div class="level-right">
                                        @helper.form(readUrl) {
                                            @helper.CSRF.formField
                                            <input type="hidden" id="uid" value=@email>
                                            <input type="hidden" id="pid" value=@item._8>
                                            <div class="control">
                                                <button class="button is-rounded" type="submit">read more</button>
                                            </div> <br>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            }
        </div>

        <div class="column is-2">
        @for(item <- list) {
            <div class="box isPpoUp">
                Coming soon
            </div>
        }
        </div>
    </div>

    <div class="container-fixed-bottom-left">
        <a href="#" class="button"> Return top </a>
    </div>
  }