@(email:String, name:String, list: List[Users], list2: List[Users])

  @base_active("Friends", name) {

      <div class="columns">
          <div class="column is-1"> </div>
          <div class="column is-10">
              <div class="box"><h1 class="subtitle">Following @{list.size + list2.size} Friends</h1></div>
          </div>
          <div class="column is-1"> </div>
      </div>

    <div class="columns">
        <div class="column is-1"> </div>
        <div class="column is-5">
        @for(item <- list) {
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="@routes.Assets.versioned("images/logo/medium.png")" width="30">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <strong> @item.name</strong> <br>
                            <small> @@@item.username</small>
                            <div class="level-right">
                                <a href="#"> more </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        }
        </div>

        <div class="column is-5">
        @for(item <- list2) {
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="@routes.Assets.versioned("images/logo/medium.png")" width="30">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <strong> @item.name</strong> <br>
                            <small> @item.username</small>
                            <div class="level-right">
                                <a href="#"> more </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        }
        </div>

        <div class="column is-1"> </div>
    </div>

    <div class="container-fixed-bottom-left">
        <a href="#" class="button"> Return top </a>
    </div>
      <br>
  }